h1, h2 {
    background-color: #000000;
    color: white
  }
  .li {
    margin: 20px;
    padding: 20px;
  }
  body {
    background: linear-gradient(135deg, hsl(36,100%,50%) 10%, hsl(72,100%,50%) 60%, white 90%);
  }